body {
  font-family: "Montserrat";
}

/* Navigation Bar */

.navbar {
  padding: 0.2% 5%;
}

.logo {
  width: 5%;
  height: 5%;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 0.5rem;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Monserrat-Light"
}

.nav-item:hover {
  background-color: #ffca2b;
}

.background-image {
  height: 200rem;
}

/* About Us Quote section */
#quote {
  text-align: center;
  margin: 0 0 3%;
}

.background-image {
  opacity: 0.5;
  left: 0;
  width: 100%;
  height: 45rem;
  z-index: -1;
}

#quote .container-fluid {
  padding: 5% 15%;
}

.container-fluid h2 {
  font-size: 5rem;
  font-weight: bold;
  padding:2% 0 1%;
}

.container-fluid p {
  font-size: 2rem;
  line-height: 1.75;
}

.card-text:last-child {
    margin-bottom: 0;
    font-size: 30px;
}

/* Team carousel */

.team-main-text {
  margin: 2% 10% 4%;
}

.user_image {
  margin: auto;
  height: 50%;
  width: 10rem;
  align-content: center;
}

.fa-angle-left,
.fa-angle-right {
  color: #000;
}

.user_image img {
  border-radius: 50%;
}

.carousel-inner {
  height: 30rem;
  text-align: center;
  margin: 1%;
}

.carousel-item {
  padding: 0 15%;
}

.team-text {
  margin: 3%;
}

/* footer */

.footer {
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #23304E;
   /*background-color: #ffc107;*/
   color: white;
   text-align: center;
}

#legal{
  border-right: 4px solid black;
}

#about{
  border-right: 4px solid black;
}

.team-text{
  font-size: 13px;
}



ul li{
 font-size: 20px;
 text-align: center;
}

/*ul {
  list-style-type: none;
}*/

#connect-list{
  text-align: center;
}

#footer-bottom{
  text-align: center;
  font-size: 30px;
}

#mail{
  background: white;
  padding:10px;
  border-radius: 10%; 
}

#facebook{
  background: white;
  padding:10px;
  border-radius: 10%;
}

#twitter{
  background: white;
  padding:10px;
  /*vertical-align: middle;*/
  border-radius: 10%;
}

#linkedin{
  background: white;
  padding:10px;
  border-radius: 10%;
}

.menu-legal-container{
  text-align: center;
}